@model IEnumerable<FPSTracker.Models.Match>

@{
    ViewData["Title"] = "Matches";
}

<h1>Matches</h1>

<p>
    <a asp-action="Create">Add a Match</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WinOrLoss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ratio)
            </th>
            <th>
                Match Score
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WinOrLoss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ratio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamScore) - @Html.DisplayFor(modelItem => item.OpponentScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MatchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MatchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
