@model IEnumerable<FPSTracker.Models.UserName>

@{
    ViewData["Title"] = "UserNames";
}

<h1>UserNames</h1>

<p>
    <a asp-action="Create">Add New UserName</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.GameName)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserNameId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserNameId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserNameId">Delete</a>
                </td>
            }else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.UserNameId">Details</a>  
                </td>
            }

        </tr>
}
    </tbody>
</table>
