@model IEnumerable<FPSTracker.Models.UserName>

@{
    ViewData["Title"] = "User Names";
}

<h1>User Names</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a asp-controller="Games" asp-action = "Index" asp-route-UserNameId = "@item.UserNameId">@Html.DisplayFor(modelItem => item.Name)</a> 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserNameId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserNameId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserNameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
